<HTML>
<HEAD>
	<!-- META -->
	<meta charset="utf-8">
</HEAD>
<BODY>

	<div class="container" fragment="content">
	
	<!--------------------------------------------------------------------------------
	-------  Header and filter
	-------
	-------	# 
	--------------------------------------------------------------------------------->
	<div>
		<button id="SgcButton" class="btn btn-success" type="button">Nowa wizyta</button>
	</div>
		
	<!--/////////////////////////////////////////////////-->
		
	<hr>
	
	<!--------------------------------------------------------------------------------
	-------  ScheduleGetCollapse (Sgc)
	-------
	------- # Sgc
	--------------------------------------------------------------------------------->
	
	<div id="SOPI_ScheduleGetCollapse"></div>
	
	<!--/////////////////////////////////////////////////-->
	
	<!--------------------------------------------------------------------------------
	-------  VisitListContainer (Vlc)
	-------
	------- # Vlc
	--------------------------------------------------------------------------------->
	<h2>Wizyty planowane</h2>
	<div id="VlcFuture" style="width: 855px;"></div>
	<h2>Wizyty odbyte</h2>
	<div id="VlcPast" style="width: 855px;"></div>
	
	<!--/////////////////////////////////////////////////-->
	
	
	<!--------------------------------------------------------------------------------
	-------  RolesListModal (Rlm)
	-------
	------- # Rlm, RlmTitle, RlmContainer, RlmRolesList, RlmButton
	--------------------------------------------------------------------------------->
	
	<div class="modal fade" tabindex="-1" role="dialog" id="Rlm">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="RlmTitle"></h4>
		  </div>
		  <div class="modal-body">
			<div id="RlmContainer" userId=""></div>
			<hr>
			<div class="input-group">
				<select class="form-control" id="RlmRolesList">
					<option>1</option>
				</select>
				<span class="input-group-btn">
					<button class="btn btn-primary" id="RlmButton">Dodaj uprawnienie</button>
				</span>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<!--/////////////////////////////////////////////////-->
		
	<!-- External JS Libraries -->
	<script src="resources/js/PageScriptMyVisit.js" type="text/javascript"></script> 
	
	<!-- Internal JS Code -->
	<script type="text/javascript">
						
		$(document).ready(function(){
		
			$('title').html('Wizyty');
					
			// [BETA] Wczynie ProfileDetailModal
			SOPI_loadElement('DeleteConfirmModal');
			SOPI_loadElement('StatusContainer');
			SOPI_loadElement('StatusDetailModal');
			SOPI_loadElement('VisitDetailModal');
			SOPI_loadElement('ScheduleGetCollapse');
			SOPI_loadElement('ProfileGetModal');
			SOPI_loadElement('ProfileDetailModal');
			SOPI_loadElement('VisitAddModal');
					
			// Uruchom skrypt User
			pageScriptMyVisit._create();
			
			$('#VlcFuture').tabulator("setData");
			$('#VlcPast').tabulator("setData");
		});
	
	</script>
	
	</div>
</BODY>
</HTML>