<!--------------------------------------------------------------------------------
-------  
-------
------- # 
--------------------------------------------------------------------------------->

<div class="modal fade" tabindex="-1" role="dialog" id="SopiCpm">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Zmiana hasła</h4>
	  </div>
	  <div class="modal-body" id="SopiCpmBody">
		<div class="form">
			<div class="alert alert-info" id="SopiCpmAlert">Podaj aktualne oraz nowe hasło.<br><br>
			Jeżeli hasło zostanie zmienione poprawnie Twoja sesja zostanie przerwana i konieczne będzie ponowne zalogowanie się z użyciem nowego hasła.
			</div>
			<form id="SopiCpmForm">
			<div class="form-group">
				<label for="oldPassword">Aktualne hasło</label>
				<input type="password" class="form-control" id="oldPassword" required></input>
			</div>
			<div class="form-group">
				<label for="newPassword">Nowe hasło</label>
				<input type="password" class="form-control" id="newPassword" required data-smk-strongPass="strong"></input>
			</div>
			<div class="form-group">
				<label for="confirmPassword">Nowe hasło - potwierdzenie</label>
				<input type="password" class="form-control" id="confirmPassword" required></input>
			</div>
			</form>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-success" userName id="SopiCpmButton">Zmień hasło</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#SopiCpmButton').on('click',function(){

	$('#SopiCpmAlert').html('Trwa zmienianie hasła...');
	
	var form = $('#SopiCpmForm');
	if($(form).smkValidate()){		
	
		if (!SOPI_userInfo.hasOwnProperty("userId")){
			SOPI_userInfo.userId = -1;
		}
	
		var formJson = {
			username: $('#SopiCpmButton').attr('userName'),
			userId: SOPI_userInfo.userId,
			oldPassword: $('#oldPassword').val(),
			newPassword: $('#newPassword').val(),
			confirmPassword: $('#confirmPassword').val()
		};
		
		if ($('#oldPassword').val() == $('#newPassword').val()){
			$.smkAddError($('#newPassword'), 'Nowe hasło musi być inne niż aktualne.')
			return;
		}
		
		if ($('#newPassword').val() != $('#confirmPassword').val()){
			$.smkAddError($('#confirmPassword'), 'Podane hasła się różnią.')
			return;
		}
				
		var changeUrl = sessionStorage.getItem('authtoken') ? 'api/module/user/changePassword' : 'auth/changePassword';
			
		$.ajax({
			url: SOPIconfig.ajaxDomainUrl + changeUrl,
			method: 'POST',
			data: JSON.stringify(formJson),
			contentType: "application/json; charset=utf-8",
			headers:{ "X-Auth-Token": sessionStorage.getItem('authtoken')},
			success: function(data){
				$('#SopiCpmAlert').removeClass('alert-danger').addClass('alert-info');
				$('#SopiCpmAlert').html(data);
			},
			error: function(){
				$('#SopiCpmAlert').removeClass('alert-info').addClass('alert-danger');
				$('#SopiCpmAlert').html('Podane hasło nie jest prawidłowe!');
			}
		});
	}
});
</script>

<!--/////////////////////////////////////////////////-->